// impropriamente chiamata mappa, in realta si riferisce a tutta la card dove c'e' la mappa

.my-map {
    //scritta in h5 TEST TOUR SICILE ORIENTALE NOTO ET TAORMINA
    // background-color: red;

    .title {
        font-size: 36px;
        line-height: 42px;
    }

    .font-weight-bold {
        font-weight: 700;
    }
    //-------------------------------------

    //paragrafo sotto l'h5
    // SIRACUSA > vendicari > Catania

    .small-text {
        font-size: 14px;
        line-height: 16px;
    }
    //--------------------------------------

    .body-section {
        font-size: 24px;
        line-height: 28px;
        font-weight: 500;
    }
    i {
        margin-right: 10px;
        font-size: smaller;
    }

    .leaflet-container {
        height: 400px;
    }
}
