* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.title-section {
    font-size: 25px;
    line-height: 35px;
}

.title-day {
    font-size: 28px;
    line-height: 33px;
}

.text-grey {
    color: #9ba7af;
}
.text-yellow {
    color: #ffb400;
}
.text-black {
    color: #595a66;
}

.text-blue {
    color: #0063C9
}

.btn-outline {
    border-radius: 50px;
    border: 1px solid;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hover-section {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
}

.leaflet-container {
    height: 400px;
}

pre {
    white-space: pre-wrap;
    font-size: smaller;
}

@import "./_login.scss";
@import "./media-queries";
@import "./header";
@import "./mappa";
@import "./TravelAgency.scss";
@import "./infoSection";
