.Bedroom {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}

.logoAgency {
    height: 45px;
    width: 132px;
}

// .separatore {
//     border-right: 1px solid gray;

// }